.lazycrypt-public-key {
    display: block;
    padding: 10px;
    background-color: var(--background-secondary);
    border-radius: 4px;
    font-family: var(--font-monospace);
    user-select: all;
    margin-top: 5px;
}
